*{
    font-family: sans-serif;

}

body{
    background-color: black;
}

.tempo-oração{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #FFFF;
}

.tempo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16rem;
    font-family: sans-serif;
    color: white;
}

div{
    text-align: center;
}

button{
    height: 4em;
    width: 8.5em;
    border-color: #FFFF;
    color: white;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    left: 750px;
    bottom: 500;
}

button:active{
    background-color: rgb(236, 224, 224)
}
button:hover{
    opacity: 0.7;
}

.buttons{
    margin-top: 100px;
}

.start-btn{
    color: #FFFF;
    background: transparent;
}


.pause-btn{
    color: #FFFF;
    background: transparent;

}

.stop-btn{
    color: #FFFF;
    background: transparent;

}

.sinalizar-btn{
    color: #FFFF;
    background: transparent;

}

a{
    text-decoration: none;
    color: #FFFF;
}

.relogioAtualizado {
    font-size: 50px;
    text-align: center;
    color: #FFFF;

   
    
}

.relogio {
    display: flex;
    text-align: center;
    justify-content: center;
}

.relogio div {
    position: relative;
    top: 200;
}

.relogio span {
    width: 130px;
    height: 100px;
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    
}

.relogio .texto {
    height: 30px;
    font-size: 20px;
    border-radius: 0 0 5px 5px;
    color: #FFFF;

}

.relogio .ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

